/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 13, 2018, 1:11:37 PM
    Author     : hp
*/
body{
    background-color:pink
}
h1{ 
    font-size: 40pt
}
h1{
    text-align: center
}
h1{
    background: plum
}



